<!DOCTYPE html>
<html lang="en">
  
  <%- include('./partials/head.ejs')  %>

  <body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>404 - ERROR!</h2>
      <h3>Page does'nt exists</h3>
    </div>

    <%- include('./partials/footer.ejs') %>

  </body>
</html>
